/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */


.main-header {
	padding: .5em 0;
}

.name {
	font-size: 1.25em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
}

.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.container {
	padding: 2.5%;
}

.banner {
	color: #fff;
	background: #3acec2;
	text-align: center;
	padding: 2.5% 0;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
	text-align: center;

}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.col {
  margin: 2.5% 2.5% 2.5% 0;
}
  /*padding: 2.5%;




/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.container {
		max-width: 1150px;
		width: 90%;
		margin: 0 auto;
		padding: 0;

	}

	.name {
		float: left;
	}

	.main-nav {
		float: right;	
	}

	.main-nav li {
		display: inline-block;
		vertical-align: bottom;
		
	}

	.col {
		float: left;
		width: 47.5%;
	}

	.col + .col {
  		margin-left: 2.5%;
	}

	.col:last-child {
  		margin-right: 0;
  
}

	.primary {
		
		margin-right: 0;
	}

	.secondary {
		float: left;
	}

	.tertiary {
		width: 100%;
		clear: both;
	}
}

@media (min-width: 1025px) {

	.container {
		width: 80%
	}

	.col {
		width: 30%;
	}

	.primary {
		margin-right: 2.5%;
	}

	.tertiary {
		clear: none;
		width: 30%;

	}
}


	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}


